<h1>All Problems</h1>

<div id="articles">
  <% @problems.each do |problem| %>
    <%= render problem %>
    <p>
      <%= link_to problem.title, problem %>
    </p>
  <% end %>
</div>
<% if logged_in? %>
  <%= link_to "New problem", new_problem_path %>
<% else %>
  <%= link_to "Login to Create Problems", "/login" %>
<% end %>
