/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.profile_container{
  display: grid;
  grid-template-columns: 140px 1fr;
  max-width: 500px;
}

.profile_container div{
  background-color: lightsteelblue;
  border-radius: 10px;
  margin: 3px;
  padding: 3px;
}

.profile_left{
  text-align: right;
}
div .profile_right{
  text-align: left;
  padding-left: 5px;
}
.profile_right input{
  border: none;
  border-radius: 10px;
}
.problem-container{
  border: solid 1px grey;
  background: darkgrey;
  display: flex;
  margin-bottom: 10px;
}
.votes{
  background: lightcyan;
  text-align: center;
  padding: 5px;
}
.red{
  color: red;
}
.problem-container article{
  background: lightblue;
  padding: 5px 10px;
  width: 100%;
}
details{
  width: 200px;
  height: 100px;
}
details > summary{
  padding: 2px 6px;
  width: 80px;
  background-color: #ddd;
  border: none;
  box-shadow: 3px 3px 4px black;
  cursor: pointer;
  list-style: none;
}
details > p {
  border: solid 1px black;
}