/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*----------------- user profile -----------------*/
.profile_container{
  display: grid;
  grid-template-columns: 140px 1fr;
  max-width: 500px;
}

.profile_container div{
  background-color: lightsteelblue;
  border-radius: 10px;
  margin: 3px;
  padding: 3px;
}

.profile_left{
  text-align: right;
}
div .profile_right{
  text-align: left;
  padding-left: 5px;
}
.profile_right input{
  border: none;
  border-radius: 10px;
}

/* --------------------- Nav bar -------------------------- */
nav{
  display: flex;
  justify-content: space-between;
}
.button_to{
  display: inline;
}
.navlink{
  display: inline;
}

/*-------------------- problems and solutions ----------------*/
.problem-container, .solution-container{
  border: solid 1px grey;
  display: flex;
  margin-bottom: 0px;
}
.solution-container{
  border: solid 1px lightgray;
  margin-left: 15px;
}
.solution-comments{
  margin-left: 15px;
}
.votes{
  background: lightcyan;
  text-align: center;
  padding: 5px;
}
.solution-container .votes{
  background: rgb(236, 251, 251);
}
.like{
  display: inline;
}
.red{
  color: red;
}
.problem-container article, .solution-container article{
  position: relative;
  background: lightblue;
  padding: 5px 10px 15px 10px;
  width: 100%;
}
.solution-container article{
  background-color: rgb(225, 245, 251);
}
.solution-summary{
  font-size: 2em;
  font-weight: bolder;
  border-radius: 3px;
  display: flex;
  align-self: center;
}
a.poster-name{
  position: absolute;
  bottom: 0px;
  right: 5px;
  color: rgb(104, 104, 104);
  size: 0.8em;
  font-weight: bold;
  text-decoration: none;
}

/*-----------------------  Comments  -------------------*/
.comments-container[open] summary::after{
  content: attr(data-open);
}
.comments-container:not([open]) summary::after{
  content: attr(data-close);
}
.comments-container > summary{
  font-size: 0.8em;
}
details.comments-container{
  width: 100%;
  margin-bottom: 10px;
}
details.solution-comments.comments-container{
  width: calc(100% - 15px);
}
details{
  width: fit-content;
  height: auto;
  margin: 3px;
}
.comments{
  margin: 5px;
  padding: 5px;
  background: rgb(240, 240, 240);
  position: relative;
}
.comment-bottom{
  position: relative;
}
a.comment-name{
  position: absolute;
  top: 0px;
  right: 10px;
  color: rgb(104, 104, 104);
  size: 0.8em;
  font-weight: bold;
  right: 0px;
  text-decoration: none;
}
.comment-votes-container{
  position: absolute;
  top: 0px;
  left: 60px;
}
.comment-vote{
  border: none;
  background: rgba(0, 0, 0, 0);
  size: 0.5em;
  display: inline;
  cursor: pointer;
}
details > summary{
  padding: 2px 6px;
  width: auto;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  list-style: none;
  display: inline;
}
details > summary.comment-summary{
  font-size: 0.8em;
}
.indented-comment{
  border-left: solid 2px black;
  margin-left: 5px;
  padding-left: 5px;
}